.footer {
    text-align: center;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.788);
    justify-content: center;
}

.footertext{
    display: inline-block;
    height: 19%;
    background-color: rgba(77, 77, 77, 0.993);
    text-align: center;
    color: white;
    padding-top: auto;
    
   
}

.footerLoggedIn{
    color: blanchedalmond;
    width: 100%;
    height: 8.8vh;
    background-color: rgb(37, 37, 255);
    justify-content: center;
    align-items: center;
}

.ionButton{
    background-color: transparent;
}

.Home{

    height: 50px;
    width: 50px;
}

.header{
    background-color: red;
   
    
}

.row{
    width: 100%;
}

.titleCard{
    background-color: red;
    margin: -1vh
}



.searchbar{
    width: 100%;
    height: 30%;
    margin: 2vh;
}

.emarsidelogo{
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    margin-top: 10%;
    margin-left: 22%;
    height: 20vh;
    width: 20vh;
    
}

.card{
    display: inline-block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 18%;
    width: 100%;
    margin-top: -1vh;
    justify-content: center;   
    
}

.heading{
    font-size: 2.5vh;
    border-radius: 5%;
    text-align: left;
    padding: 2vh;
    /* margin-top: -1.3vh; */
    font-family: 'RobotoBold';

}

.items{
    height: 9vh;
    width:  25vw;
    display: inline-block;
    
}
.bannerContent{
    height: 100%;
    width:  auto;
    display: inline-block;
    margin: 0;
    
    
}

.bannerCard{
    display: inline-block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: auto;
    width: 100%;
    padding: 0;    
    justify-content: center;   
    
}

.justForYou{
    height: 100%;
    width:  auto;
    background: rgb(248, 248, 248);
    border-radius: 3%;
    margin: 0;
    padding: 0;
    
   
}

.categoryBg{
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
}

.bannerImg{
    max-width: 100%;
    max-height: 100%;
}

.liveDealsItem{
    width: 100%;
    margin: 0;
    
}

.cancelButton{
    color: black
}


    

