.mainDiv{
    width: 70%;
    
}

.inputField {

    text-align: center;
    border-radius: 18px;
    background-color: rgba(228, 217, 201, 0.836);
    color: black;
    width: 80%;
    top:5%;
    margin: auto;
    padding-left: 5%;
    border: 2px solid rgba(255, 7, 7, 0.822);
}

.buttons{
    text-align: center;
    border-radius: 15px;
    color: white;
    height: 10%;
    width: 30%;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background:transparent;
    background-color: red;
    
}

.socialbuttons{
    text-align: center;
    border-radius: 15px;
    color: white;
    height: 5%;
    width: 70%;
    justify-content: center;
    background:transparent;
    background-color: red;
    padding: 5%;
    
}

